<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Register | Beta Cinema Style</title>
    <link rel="stylesheet" href="{%static 'Sign-in.css' %}">
    <script src="{%static 'Sign-in.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>


    <header>
        <a href={% if name %}"{% url "movie:show_home" %}"{% else %}{% url "movie:show_login" %}{% endif %}><img class="header_img" src={% static 'logo_web.jpg' %} alt="Ảnh Logo"></a>
        {% comment %} <select class="header-select" name="select" id="select">
            <option value="Beta HN">Group3 Bắc Ninh</option>
            <option value="Beta TN">Group3 Thái Bình</option>
            <option value="Beta ĐN">Group3 Hải Phòng</option>
            <option value="Beta TB">Group3 Nghệ An</option>
            <option value="Beta KH">Group3 Hà Tĩnh</option>
        </select> {% endcomment %}
        
    </header>


    <div class="container">

            <div class="form-container " id="forgotPasswordForm">
                <h2>Quên mật khẩu</h2>
                <form method="POST">
                    {% csrf_token %}
                    <label for="forgotEmail">Email</label>
                    <input type="email" id="forgotEmail" placeholder="Nhập email của bạn" required>

                    <button type="submit" onclick="toggleForms('otpForm')">Gửi mã xác thực</button>
                    <p><a href="{% url "movie:show_login" %}">Quay lại đăng nhập</a></p>
                </form>
            </div>

        </div>
    </div>


    <footer>
        <div class="footer-container">
            <div class="footer-column footer-introduce">
                <h3>Group 5 Việt Nam</h3>
                <div><i class="fa-solid fa-arrow-right"></i><a href="#" target="_self">Giới thiệu</a></div>
                <div><i class="fa-solid fa-arrow-right"></i><a href="#" target="_self">Tiện Ích Online</a></div>
                <div><i class="fa-solid fa-arrow-right"></i><a href="#" target="_self">Thẻ Quà Tặng</a></div>
                <div><i class="fa-solid fa-arrow-right"></i><a href="#" target="_self">Tuyển Dụng</a></div>
                <div><i class="fa-solid fa-arrow-right"></i><a href="#" target="_self">Liên Hệ Quảng Cáo Group3</a></div>
                <div><i class="fa-solid fa-arrow-right"></i><a href="#" target="_self">Dành cho đối tác</a></div>
            </div>
            
            <div class="footer-column footer-introduce">
                <h3>Điều khoản sử dụng</h3>
                <div><i class="fa-solid fa-arrow-right"></i><a href="#" target="_self">Điều Khoản Chung</a></div>
                <div><i class="fa-solid fa-arrow-right"></i><a href="#" target="_self">Điều Khoản Giao Dịch</a></div>
                <div><i class="fa-solid fa-arrow-right"></i><a href="#" target="_self">Chính Sách Thanh Toán</a></div>
                <div><i class="fa-solid fa-arrow-right"></i><a href="#" target="_self">Chính Sách Bảo Mật</a></div>
                <div><i class="fa-solid fa-arrow-right"></i><a href="#" target="_self">Câu Hỏi Thường Gặp</a></div>
            </div>
            
            <div class="footer-column">
                <h3>Kết nối với chúng tôi</h3>
                <i id="inner-icon-facebook" class="fa-brands fa-square-facebook"></i>
                <i id="inner-icon-youtobe" class="fa-brands fa-square-youtube"></i>
                <i id="inner-icon-instagram" class="fa-brands fa-square-instagram"></i>
                <i id="inner-icon-twitter" class="fa-brands fa-square-x-twitter"></i>
            </div>
            
            <div class="footer-column">
                <h3>Chăm sóc khách hàng</h3>
                <p>
                    Hotline: 1900 6017<br>
                    Giờ làm việc: 8:00 - 22:00 (Tất cả các ngày<br>
                    bao gồm cả Lễ Tết)<br>
                    Email hỗ trợ: hoidap@group3.vn
                </p>
            </div>
        </div>
    </footer>
</body>
</html>