<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Register | Beta Cinema Style</title>
    <link rel="stylesheet" href="{%static 'Sign-in.css' %}">
    <script src="{%static 'Sign-in.js' %}"></script>
    {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"> {% endcomment %}
</head>
<body>


    <header>
        <a href={% if name %}"{% url "movie:show_home" %}"{% else %}{% url "movie:show_login" %}{% endif %}><img class="header_img" src={% static 'logo_web.jpg' %} alt="Ảnh Logo"></a>
        <select class="header-select" name="select" id="select">
            <option value="Beta HN">Group3 Bắc Ninh</option>
            <option value="Beta TN">Group3 Thái Bình</option>
            <option value="Beta ĐN">Group3 Hải Phòng</option>
            <option value="Beta TB">Group3 Nghệ An</option>
            <option value="Beta KH">Group3 Hà Tĩnh</option>
        </select>
        <div class="header_menu">
            <div class="menu_item"><a href="{% url "movie:show_lich" %}">LỊCH CHIẾU THEO RẠP</a></div>
            <div class="menu_item"><a href="{% url "movie:show_movie" %}">PHIM</a></div>
            <div class="menu_item"><a href="{% url "movie:show_rap" %}">RẠP</a></div>
            <div class="menu_item"><a href="{% url "movie:show_gia" %}">GIÁ VÉ</a></div>
            <div class="menu_item"><a href="{% url "movie:show_news" %}">TIN MỚI VÀ ƯU ĐÃI</a></div>
            {% comment %} {% if name %}
            <div class="menu_item"><a href="">CHÀO {{name}}<p>Quản lý tài khoản tại đây</p></a></div>
            {% endif %} {% endcomment %}
        </div>
    </header>


    <div class="container">
        <div class="inner-container">
            <div class="form-container" id="loginForm">
                <h2>Đăng nhập</h2>
                {% if messages %}
                {% for message in messages  %}
                    <h3 style="margin: 0 auto; color: red;">{{message}}</h3>
                {% endfor %}
                {% endif %}
                <form method="POST" action="{% url "movie:sign_in" %}"> 
                    {% csrf_token %}
                    <label for="loginEmail">Email</label>
                    <input type="email" name="email" id="loginEmail" placeholder="Email" required>

                    <label for="loginPassword">Mật khẩu</label>
                    <input type="password" name="password" id="loginPassword" placeholder="Mật khẩu" required>

                    <p class="forgot-password"><a href="{% url "movie:show_forgot_pass" %}">Quên mật khẩu?</a></p>
                    
                    <button type="submit">Đăng nhập</button>
                    <p>Bạn chưa có tài khoản? <a href="{% url "movie:show_sign_up" %}">Đăng ký ngay</a></p>
                </form>
            </div>

        </div>
    </div>


    <footer>
        <div class="footer-container">
            <div class="footer-column footer-introduce">
                <h3>Group3 Việt Nam</h3>
                <div><i class="fa-solid fa-arrow-right"></i><a href="#" target="_self">Giới thiệu</a></div>
                <div><i class="fa-solid fa-arrow-right"></i><a href="#" target="_self">Tiện Ích Online</a></div>
                <div><i class="fa-solid fa-arrow-right"></i><a href="#" target="_self">Thẻ Quà Tặng</a></div>
                <div><i class="fa-solid fa-arrow-right"></i><a href="#" target="_self">Tuyển Dụng</a></div>
                <div><i class="fa-solid fa-arrow-right"></i><a href="#" target="_self">Liên Hệ Quảng Cáo Group3</a></div>
                <div><i class="fa-solid fa-arrow-right"></i><a href="#" target="_self">Dành cho đối tác</a></div>
            </div>
            
            <div class="footer-column footer-introduce">
                <h3>Điều khoản sử dụng</h3>
                <div><i class="fa-solid fa-arrow-right"></i><a href="#" target="_self">Điều Khoản Chung</a></div>
                <div><i class="fa-solid fa-arrow-right"></i><a href="#" target="_self">Điều Khoản Giao Dịch</a></div>
                <div><i class="fa-solid fa-arrow-right"></i><a href="#" target="_self">Chính Sách Thanh Toán</a></div>
                <div><i class="fa-solid fa-arrow-right"></i><a href="#" target="_self">Chính Sách Bảo Mật</a></div>
                <div><i class="fa-solid fa-arrow-right"></i><a href="#" target="_self">Câu Hỏi Thường Gặp</a></div>
            </div>
            
            <div class="footer-column">
                <h3>Kết nối với chúng tôi</h3>
                <i id="inner-icon-facebook" class="fa-brands fa-square-facebook"></i>
                <i id="inner-icon-youtobe" class="fa-brands fa-square-youtube"></i>
                <i id="inner-icon-instagram" class="fa-brands fa-square-instagram"></i>
                <i id="inner-icon-twitter" class="fa-brands fa-square-x-twitter"></i>
            </div>
            
            <div class="footer-column">
                <h3>Chăm sóc khách hàng</h3>
                <p>
                    Hotline: 1900 6017<br>
                    Giờ làm việc: 8:00 - 22:00 (Tất cả các ngày<br>
                    bao gồm cả Lễ Tết)<br>
                    Email hỗ trợ: hoidap@group3.vn
                </p>
            </div>
        </div>
    </footer>
</body>
</html>